@inject ApiResponse apiresponse
@inject ApiService service
@inject Authentication auth
@inject IJSRuntime jsRuntime

@if (data != null)
{
    <section class="@Class">
        <div class="modal__content">
            <div class="modal__icons">
                <div class="modal__icons-left">
                    <i class="fa-regular fa-circle-xmark" @onclick="CloseModal"></i>
                    <i class="fa-solid fa-up-right-and-down-left-from-center" @onclick="ExpandModal"></i>
                </div>
                <div class="modal__icons-right">
                    <i class="fa-solid fa-arrows-up-down-left-right" @onclick="ChangeLocal"></i>
                </div>
            </div>
            <div class="modal__header">
                <div class="modal__header-image">
                    <img src="@data.url_image">
                </div>
                <div class="modal__header-content">
                    <h2>@data.Nome</h2>
                    <h4>V: R$ @data.Varejo A: R$ @data.Atacado</h4>
                </div>
            </div>
            <div class="modal__body">
                <div class="modal__body-content">
                    <div class="modal__body__main">
                        <div class="modal__body__main-input">
                            <input type="text" placeholder="MARCA: @data.Descricao" required readonly>
                        </div>
                        <div class="modal__body__main-input">
                            <input type="text" placeholder="VALIDADE: @data.Validade" required readonly>
                        </div>
                        <div class="modal__body__main-input">
                            <input type="text" placeholder="TIPO: @data.Informacoes.Tipo" required readonly>
                        </div>
                        <div class="modal__body__main-input">
                            <input type="text" placeholder="CÓDIGO DE BARRAS: @data.cod_barras" required readonly>
                        </div>
                        <div class="modal__body__main-input">
                            <input type="number" placeholder="QUANTIDADE: @data.Quantidade" required readonly>
                        </div>
                        <div class="modal__body__main-input">
                            <textarea type="text" placeholder="DESCRIÇÃO: @data.Descricao" spellcheck="true" required readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal__bottom">
                    <button @onclick="CloseModal">FECHAR</button>
                    <button @onclick="OpenUpdate">EDITAR</button>
                </div>
            </div>
        </div>
    </section>
}


<Update Class="@ClassUpdate" />

@code {

    [Parameter] public string Class { get; set; }

    private bool IsExpand;
    private bool IsChaged;
    private bool IsUpdate = false;
    private ProductModel data;

    private string ClassUpdate => IsUpdate ? "modal__main-actived" : "modal__main";


    protected override async Task OnInitializedAsync()
    {
        await Request();
    }

    private async Task Request()
    {
        await apiresponse.AuthorizationHeader();
        data = await service.GetUnique<ProductModel>($"product/find/7892840800406");
    }

    private void CloseModal()
    {
        Class = "modal__main";
        StateHasChanged();
    }

    private async Task ExpandModal()
    {
        IsExpand = !IsExpand;
        Class = IsExpand ? "modal__expand" : "modal__main-actived";
    }

    private async Task ChangeLocal()
    {
        IsChaged = !IsChaged;
        Class = IsChaged ? "modal__changed" : "modal__main-actived";
    }

    private async Task OpenUpdate()
    {
        IsUpdate = !IsUpdate;
        Class = "modal__main";
    }
}